
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background: rgb(1,36,0);
    background: linear-gradient(90deg, rgba(1,36,0,1) 0%, rgb(131, 139, 128) 43%rgba(58, 65, 58, 0.956)6) 100%);  
    font-family: 'Roboto', sans-serif;
}

.mynav{
    background: rgb(47,51,47);
    background: linear-gradient(90deg, rgba(47,51,47,1) 0%, rgba(177,185,173,1) 43%, rgba(194,201,194,0.9559174011401436) 100%);
    font-size: large;
    font-weight: bolder;
}
.myform{
    text-align: center;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    max-width: 400px;
}

.myform label,input{
    margin-left: 20%;
}

.msg{
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    
}

footer{
    padding: 0.5rem;
    text-align: center;
    color:#fff;
    /* position: relative; */
    /* position: absolute; */
    /* bottom: 0rem;  */
    /* left: 50%;  */
    /* transform: translateX(-50%); */
    clear: both;
    position: relative;
    /* height: 200px; */
    /* margin-top: -200px; */

}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    /* transform:  scale(1.1);  */
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}

/*///////////////////////////////HIDE ME //////////////////////////////////////*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}