
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background: rgb(1,36,0);
    background: linear-gradient(90deg, rgba(1,36,0,1) 0%, rgba(41,121,9,1) 43%, rgba(10,255,0,0.9559174011401436) 100%);  
    font-family: 'Roboto', sans-serif;
}

.mynav{
    background: rgb(47,51,47);
    background: linear-gradient(90deg, rgba(47,51,47,1) 0%, rgba(177,185,173,1) 43%, rgba(194,201,194,0.9559174011401436) 100%);
    font-size: large;
    font-weight: bolder;
}
.myform{
    text-align: center;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    max-width: 400px;
}

.myform label,input{
    margin-left: 20%;
}

/*///////////////////////////////HIDE ME //////////////////////////////////////*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}