
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background: rgb(1,36,0);
    background: linear-gradient(90deg, rgb(65, 68, 65) 0%, rgb(72, 73, 71) 43%, rgba(73, 76, 73, 0.956) 100%);  
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;

}

.mynav{
    background: rgb(47,51,47);
    background: linear-gradient(90deg, rgb(234, 240, 234) 0%, rgba(177,185,173,1) 43%, rgba(194,201,194,0.9559174011401436) 100%);
    font-size: large;
    font-weight: bolder;
}
.myform{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.3rem;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    max-width: 400px;
}

.mycenter{
    align-content: center; 
    display: flex;          
    flex-direction: column; 
    align-items: center;     
    background-repeat: no-repeat; 
    height: 100%;
}

.msg{
    background-color: #fff;
    border-radius: 5px; 
   width: fit-content; 
   /* position: absolute; */
   left: 50%;
   transform: translateX(-50%);
}

.msg li{
    list-style: none;
}




/*///////////////MY FOOTER////////////*/

footer{
    padding: 0.5rem;
    text-align: center;
    color:#fff;
    clear: both;
    position: relative;

}

footer:hover{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
  
}
footer:hover a{
    color: yellow;
    font-weight: 700;
}
footer:hover a:hover{
    font-weight: 900;
    color:greenyellow;
}

footer a{
   color: #fff;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: var(--gold-cor);
}

/*///////////////////////////////HIDE ME //////////////////////////////////////*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}